<body>
<form action="/colorize/results" class="form-horizontal">
<div class="form-group">
      <label for="new_url" class="col-sm-2 control-label">Image URL</label>
      <div class="col-sm-10">
        <input name="user_url" type="name" class="form-control" id="new_url">
      </div>
    </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary btn-block">Colorize</button>
    </div>
  </div>

</form>
</body>
